body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}
