:root {
  --main-background-color: #84a178;
  --main-text-color: #fcfcfc;
  --primary-text-color: #131313;
  --hover-text-color: #f8d24e;
  --background-hero-color: #2f303a;
  --primary-button-color: #0a8817;
  --primary-inactive-color: #ababab;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
