<div class="advantage advantage__box" > 
    <div class="container">
    <h2 class="visually-hidden">Advantage</h2>
    
        <ul class="advantage-list list">
            <li  class="advantage-item advantage-list__mr ">
                <h3  class="advantage-titl advantage-item__mr">721</h3>
                <p class="advantage-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage-item advantage-list__mr">
                <h3 class="advantage-titl advantage-item__mr" >16kg</h3>
                <p class="advantage-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantage-item advantage-list__mr">
                <h3 class="advantage-titl advantage-item__mr">84</h3>
                <p class="advantage-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            
        </ul> 
           
    </div>
    </div>