<div class="backdrop is-hidden" data-modal>
    <div class="main-modal">
        <button class="btn-close" data-modal-close>
            <svg width="16" height="16">
                <use class="btn-icon" href="./images/sprite/symbol-defs.svg#icon-close-button"></use>
            </svg>
        </button>
        <p class="main-modal__title">Buy now</p>
        <form class="form">
            <ul class="form__list">
                <li class="form__item">
                    <div class="form__container1">
                        <p class="form__container1-title">ice cream</p>
                        <div class="form__container2 icecream-container2"></div>
                        <input class="form-checkbox__input" type="checkbox" name="icecream" id="icecream">
                        <label class="form-checkbox__label" for="icecream">
                            <picture class="form__picture">
                                <source srcset="
                                    ./images/mobile/buynow-modal-mobile/modal2-pic1-1x.png 1x,
                                    ./images/mobile/buynow-modal-mobile/modal2-pic1-1x.png 2x" 
                                    media="(min-width:320px)" 
                                />
                                <source srcset="
                                    ./images/tablet/buynow-modal-tablet/modal2-pic1-1xtablet.png 1x,
                                    ./images/tablet/buynow-modal-tablet/modal2-pic1-2xtablet.png 2x" 
                                    media="(min-width:678px)" 
                                />
                                <img src="./images/tablet/buynow-modal-tablet/modal2-pic1-2xtablet.png" 
                                alt="Ice cream" 
                                width="133">
                            </picture>
                        </label>
                    </div>
                </li>
                <li class="form__item">
                    <div class="form__container1 icecoffee-container1">
                        <p class="form__container1-title">ice coffee</p>
                        <div class="form__container2 icecoffee-container2"></div>
                        <input class="form-checkbox__input" type="checkbox" name="icecoffee" id="icecoffee">
                        <label class="form-checkbox__label" for="icecoffee">
                            <picture class="form__picture">
                                <source srcset="
                                    ./images/mobile/buynow-modal-mobile/modal2-pic2-1x.png 1x,
                                    ./images/mobile/buynow-modal-mobile/modal2-pic2-2x.png 2x" 
                                    media="(min-width:320px)" 
                                />
                                <source srcset="
                                    ./images/tablet/buynow-modal-tablet/modal2-pic2-1xtablet.png 1x,
                                    ./images/tablet/buynow-modal-tablet/modal2-pic2-2xtablet.png 2x" 
                                    media="(min-width:678px)" 
                                />
                                <img src="./images/tablet/buynow-modal-tablet/modal2-pic2-2xtablet.png" 
                                alt="ice coffee" 
                                width="133">
                            </picture>
                        </label>
                    </div>
                </li>
                <li class="form__item">
                    <div class="form__container1 milkshake-container1">
                        <p class="form__container1-title">milkshake</p>
                        <div class="form__container2 milkshake-container2"></div>
                        <input class="form-checkbox__input" type="checkbox" name="milkshake" id="milkshake">
                        <label class="form-checkbox__label" for="milkshake">
                            <picture class="form__picture">
                                <source srcset="
                                    ./images/mobile/buynow-modal-mobile/modal2-pic3-1x.png 1x,
                                    ./images/mobile/buynow-modal-mobile/modal2-pic3-2x.png 2x" 
                                    media="(min-width:320px)" 
                                />
                                <source srcset="
                                    ./images/tablet/buynow-modal-tablet/modal2-pic3-1xtablet.png 1x,
                                    ./images/tablet/buynow-modal-tablet/modal2-pic3-2xtablet.png 2x" 
                                    media="(min-width:678px)" 
                                />
                                <img src="./images/tablet/buynow-modal-tablet/modal2-pic3-2xtablet.png" 
                                alt="milkshake" 
                                width="133">
                            </picture>
                        </label>
                    </div>
                </li>
            </ul>
            <div>
                <div class="form-field">
                    <label class="form-field__label" for="name" hidden></label>
                    <input class="form-field__input" type="text" name="user-namer" id="name" placeholder="Name"
                        minlength="4" maxlength="15" pattern="[a-zA-Z'-'\s]*" required>
                </div>
                <div class="form-field">
                    <label class="form-field__label" for="tel" hidden></label>
                    <input class="form-field__input" type="tel" name="user-tel" placeholder="Phone" id="tel"
                        pattern="[0-9]{10}" title="Ten digits code" required>
                </div>
                <div class="form-field form-field--gap">
                    <label class="form-field__label" for="comment" hidden></label>
                    <textarea class="form-field__comment" name="comment" id="comment" placeholder="Comment"></textarea>
                </div>
                <button class="form-button" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>