<section class="review-card">
  <div class="container">
    <h2 class="visually-hidden">Reviews</h2>
    <div class="swiffy-slider">
      <ul class="slider-container">
        <li>
          <div class="user-icon">
            <picture>
              <source
                media="(max-width: 1200)"
                srcset="
                  ./images/mobile/review-mobile/review-mobile-photo-1.jpg    1x,
                  ./images/mobile/review-mobile/review-mobile-photo-1@2x.jpg 2x
                "
              />

              <img
                class="user-photo"
                src="./images/mobile/review-mobile/review-mobile-photo-1.jpg"
                alt="client photo"
                width="110"
                height="164"
              />
            </picture>
          </div>
          <div class="">
            <p class="review-text">
              Смачнішого морозива немає! Величезний вибір уподобань, і варто
              спробувати все! Кожен смак особливий! Морозиво дуже ситне 3 кульки
              можна вважати повноцінним перекушуванням. А ще у них смачні
              молочні коктейлі із цього ж морозива!
            </p>
            <p class="review-author">Emily, Los Angeles</p>
          </div>
        </li>
        <li>
          <div class="user-icon">
            <picture>
              <source
                media="(max-width: 1200)"
                srcset="
                  ./images/mobile/review-mobile/review-mobile-photo-2.jpg    1x,
                  ./images/mobile/review-mobile/review-mobile-photo-2@2x.jpg 2x
                "
              />

              <img
                class="user-photo"
                src="./images/mobile/review-mobile/review-mobile-photo-2.jpg"
                alt="client photo"
                width="110"
                height="164"
              />
            </picture>
          </div>
          <div class="">
            <p class="review-text">
              Дуже ражду спробувати обліпихове, для тих хто не любить надто
              солодке морозиво! А взагалі – смачно все)
            </p>
            <p class="review-author">Sam, Los Angeles</p>
          </div>
        </li>
        <li>
          <div class="user-icon">
            <picture>
              <source
                media="(max-width: 1200)"
                srcset="
                  ./images/mobile/review-mobile/review-mobile-photo-3.jpg    1x,
                  ./images/mobile/review-mobile/review-mobile-photo-3@2x.jpg 2x
                "
              />

              <img
                class="user-photo"
                src="./images/mobile/review-mobile/review-mobile-photo-3.jpg"
                alt="client photo"
                width="110"
                height="164"
              />
            </picture>
          </div>
          <div class="">
            <p class="review-text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
            <p class="review-author">Diana, Chicago</p>
          </div>
        </li>
        <li>
          <div class="user-icon">
            <picture>
              <source
                media="(max-width: 1200)"
                srcset="
                  ./images/mobile/review-mobile/review-mobile-photo-4.jpg    1x,
                  ./images/mobile/review-mobile/review-mobile-photo-4@2x.jpg 2x
                "
              />

              <img
                class="user-photo"
                src="./images/mobile/review-mobile/review-mobile-photo-4.jpg"
                alt="client photo"
                width="110"
                height="164"
              />
            </picture>
          </div>
          <div class="">
            <p class="review-text">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
            <p class="review-author">Bryan, New-York</p>
          </div>
        </li>
      </ul>

      <button type="button" class="slider-nav"></button>
      <button type="button" class="slider-nav slider-nav-next"></button>

      <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
        <button></button>
      </div>
    </div>
  </div>
</section>
