<footer class="section footer">
    <div class="container footer-container">
        <div class="footer-slogan">
            <p class="footer-title">homemade ice cream made</p>
            <p class="footer-text">with passion</p>
        </div>

        <div class="footer-promo">
            <ul class="footer-social">
                <li class="footer-social__items">
                    <a href="https://github.com/" class="footer-social__items">
                        <svg width="32" height="32">
                            <use href="./images/sprite/symbol-defs.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__items">
                    <a href="https://web.telegram.org/k/" class="footer-social__items">
                        <svg width="32" height="32">
                            <use href="./images/sprite/symbol-defs.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social__items">
                    <a href="https://www.facebook.com/index.php" class="footer-social__items">
                        <svg width="32" height="32">
                            <use href="./images/sprite/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <ul class="footer-contakt__list">
                <li class="footer-contakt__items">Feel free to contact</li>
                <li class="footer-contakt__tel">
                    <a href="tel:+61(0)383766284" class="footer-contakt__tel">+61 (0) 383 766 284</a>
                </li>
            </ul>

        </div>

    </div>

    <div class="footer-right">
        <ul class="footer-right__list">
            <li class="footer-rights__items">© 2022 - IceCream.</li>
            <li class="footer-rights__items">All Rights Reserved.</li>
        </ul>

    </div>

</footer>