<section class="gallery section">
  <div class="gallery-page container">
    <h2 class="visually-hidden">gallery</h2>

    <div
      class="gallery-container swiffy-slider slider-item-nosnap slider-item-nosnap-touch slider-nav-nodelay slider-nav-autoplay slider-nav-autopause slider-nav-animation slider-nav-animation-fadein"
      data-slider-nav-autoplay-interval="8000"
    >
      <ul class="slider-container list">
        <!--gallery-list-->
        <li class="gallery-item slide-visible">
          <div id="slide1">
            <picture>
              <source
                srcset="
                  ./images/desktop/gallery-desktop/gallery-desk-1x.jpg 1x,
                  ./images/desktop/gallery-desktop/gallery-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />

              <source
                srcset="
                  ./images/tablet/gallery-tablet/gallery-tab-1x.jpg 1x,
                  ./images/tablet/gallery-tablet/gallery-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/mobile/gallery-mobile/gallery-mob-1x.jpg 1x,
                  ./images/mobile/gallery-mobile/gallery-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="gallery-img"
                src="./images/mobile/gallery-mobile/gallery-mob-1x.jpg"
                alt="foto ice cream"
              />
            </picture>
          </div>
        </li>

        <li class="gallery-item">
          <div id="slide2">
            <picture>
              <source
                srcset="
                  ./images/desktop/gallery-desktop/gallery2-desk-1x.jpg 1x,
                  ./images/desktop/gallery-desktop/gallery2-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />

              <source
                srcset="
                  ./images/tablet/gallery-tablet/gallery2-tab-1x.jpg 1x,
                  ./images/tablet/gallery-tablet/gallery2-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/mobile/gallery-mobile/gallery2-mob-1x.jpg 1x,
                  ./images/mobile/gallery-mobile/gallery2-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="gallery-img"
                src="./images/mobile/gallery-mobile/gallery2-mob-1x.jpg"
                alt="foto ice cream"
              />
            </picture>
          </div>
        </li>

        <li class="gallery-item">
          <div id="slide3">
            <picture>
              <source
                srcset="
                  ./images/desktop/gallery-desktop/gallery3-desk-1x.jpg 1x,
                  ./images/desktop/gallery-desktop/gallery3-desk-2x.jpg 2x
                "
                media="(min-width: 1200px)"
              />

              <source
                srcset="
                  ./images/tablet/gallery-tablet/gallery3-tab-1x.jpg 1x,
                  ./images/tablet/gallery-tablet/gallery3-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/mobile/gallery-mobile/gallery3-mob-1x.jpg 1x,
                  ./images/mobile/gallery-mobile/gallery3-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="gallery-img"
                src="./images/mobile/gallery-mobile/gallery3-mob-1x.jpg"
                alt="foto ice cream"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
