<!-- Backdro--------------------------------------------- -->
<!-- <div class="backdrop is-hidden" data-modal> -->
<div class="modal-location">
  <button data-modal-close type="button" class="modal-location__close">
    <svg class="location__icon" width="20" height="20">
      <use 
        href="./images/sprite/symbol-defs.svg#icon-close-button"
      ></use>
    </svg>
  </button>
  <p class="modal-location__title">Our Locations</p>
  <div class="location__thumb">
    <iframe class="location__map" src="https://maps.google.com/maps?&amp;&amp;hl=en&amp;q=%D0%9A%D0%B8%D0%B5%D0%B2+(location)&amp;ie=UTF8&amp;t=p&amp;z=11&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
  </div>
    <button type="submit" class="location__button"><a class="location__link link" href="https://goo.gl/maps/YC79h4KwmiCo9KZr6"><p>Open map</p></a></button>
  </form>
</div>
