<section class="products container" id="products">
  <p class="products__pre-title">100% natural</p>
  <h2 class="products__title">products</h2>
  <ul class="products-list">
    <li class="product-list__item">
      <div class="wrap">
        <h3 class="product-list__title">ice cream</h3>
        <p class="product-list__desc">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="product-list__btn" type="submit" data-modal-open>
          <svg class="btn-icon" width="45" height="15">
            <use href="./images/sprite/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="lining lining--green"></div>
    </li>
    <li class="product-list__item">
      <div class="wrap">
        <h3 class="product-list__title">ice coffee</h3>
        <p class="product-list__desc">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="product-list__btn" type="submit" data-modal-open2>
          <svg class="btn-icon" width="45" height="15">
            <use href="./images/sprite/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="lining lining--yellow"></div>
    </li>
    <li class="product-list__item">
      <div class="wrap">
        <h3 class="product-list__title">milkshakes</h3>
        <p class="product-list__desc">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="product-list__btn" type="submit" data-modal-open3>
          <svg class="btn-icon" width="45" height="15">
            <use href="./images/sprite/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
      <div class="lining lining--red"></div>
    </li>
  </ul>
</section>
