<div class="backdrop is-hidden" data-modal>
    <div class="howitsmade">
        <button class="btn-close" data-modal-close>
            <use width="16" height="16.17">
                <svg class="btn-icon" href="../images/sprite/symbol-defs.svg#icon-close-button"></svg>
            </use>
        </button>
        <p class="howitsmade__title">How it’s made?</p>
        <div class="howitsmade__container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zrN0s_NlTeE"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <p class="howitsmade__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et Lorem ipsum dolor
            sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
    </div>
</div>